@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the GC Coffee Shop!</h1>
    <p><a href="https://localhost:5001/coffeeshop/userform">Register Here</a></p>

</div>






