@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jittery Co. Coffee House!</h1>
    <p><a href="https://localhost:5001/home/userform">Register Here</a></p>
</div>






